NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pms
JWT_ACCESS_SECRET=2ujq3we378ey238e32g2378yr23
JWT_REFRESH_SECRET=gdfudjdgt37et37dgidg3ige3i
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL_DAYS=7
FRONTEND_URL=http://localhost:5173
USE_REFRESH_COOKIE=true
REFRESH_COOKIE_NAME=pms_refresh_token
